/* Style sheet and Links  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#FFFF;
    font-family: 'Poppins';
}
main{
    margin: auto;
    width: 1250px;
}
.Banner{
    margin: 0 auto;
    border-radius: 15px;
    background-color: black;
    width: 1250px;
    height: 500px;
    display: flex;

    justify-content: space-between;  
    
}
.part1{
    padding: 60px;
    color: #FFFF;    
}
.part1 h1{
    font-weight: 700;
    line-height: 60px;
    font-size: 43px;
} 
.part1 p{
font-size: 15px;
font-weight: 300;
font-style: normal;
}
.part1 image{ 
    margin-top: 50px;
    
}
.part1 button{
    border-radius: 5px;
    background-color: red;
    height: 40px;
    width:130px;
    color: white;
    font-weight: 3em;
}
.part1 button i{
    padding-left: 15px;
}
/*------------ Blogs and Transfer Style Start----------*/
.sidebar{
  border-radius: 8px;
  padding-left: 50px;
  height: 300px;
  width: 270px;
  background-color: black;

}
.sidebar h2{
    justify-content: center;
    display: flex;
    border-radius: 5px;
    padding: 15px;
    height: 30px;
    width: 200px;
    background-color: white;
}
.sidebar a {
    text-decoration: none;
    color: black;
}
.player-detail{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #FFFF;
    height: 362px;
    width: 300px;
    padding: 10px;
    
}
.player-info button{
    width: 120px;
    height: 30px;
}
.player-info{
    padding: 10px;
    padding-top: 25px;
}
.respond{ 
    width: 143px;
    height: 26px;
    color: gray;
    display: flex;
    align-items: center;
}
.clock{
    column-gap: 30px;
}

.user{
    display: grid;
    
}
.part2{
    display: flex;
    
}

.user{ padding-right: 5px;
   
}
.info-box{ 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.middle{
    
    padding: 5px;
    display: flex;
    margin: 0 auto;
}
.view{
    visibility: hidden;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.view button { 
    background-color: rgb(0, 209, 28);
    width: 100px;
    height: 45px;
    font-size: 1.3em;
    border-radius: 5px;
    color: white;
}
/* -------Blogs and Transfer Style End------- */

/* ---------Footer Style --------*/
footer{
    font-family: 'Poppins', sans-serif;
    height: 300px;
    color: white;
    width:100%;
    background-color: black;
}
footer h2{
    font-size: xx-large;
    padding-top: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
}
footer ul{
    padding-bottom: 50px;
    list-style: none;
    margin-top: 40px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
footer ul a{
    text-decoration: none;
    display: flex;
    color:whitesmoke;
}
.footer-icon{
    font-size: xx-large;
    row-gap: 50px;
    display: flex;
   justify-content: center;
   column-gap: 30px;
   
}
.footer-icon i{
    color: blue;
}
/* --------footer style end ---------- */
/* ----------------------------------
    ------web site 2 design -------
    ------------------------------  */
.ger-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}
.match-time{
    padding-left: 50px;
    position: relative;
}
.match{
    height: 210px;
    width: 280px;
    background-color:lightgrey;
    padding: 10px;
    border-radius: 8px;
    
}
.match-detail{

    column-gap: 12px;
    row-gap: 5px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.tab{
    margin-top: 40px;
    display: flex;
}
@media only screen and (max-width:800px) {
    main{
        margin: auto;
        width: 650px;}
    
}