/* Style sheet and Links  */
/* body{
    margin: 0;
    padding: 0;
    background-color:#FFFF;
    font-family: 'Poppins';
} */
main{
    
        margin: auto;
        width: 1250px;
    
}
.Banner{ 
    width: 90%;
    /* height:400px; */
    align-items: center;
    justify-content: center;
    display: flex; 
    background-color:black;
    margin-right: 250px;
    color: #FFFF;
    border-radius: 15px;
    padding-left: 100px;

}

.announcement {
    padding-left: 300px;
    padding-top: 100px;
    font-size:1.2em;
    width: 825px;
    height: 424px;
}
.part1{
    width: 100%;
    padding: 60px;
    color: #FFFF;    
}
.part1 h1{
    font-weight: 700;
    font-size: 43px;
} 
.part1 p{
font-size: 15px;
font-weight: 300;
font-style: normal;
}
.part1 image{ 
    margin-top: 50px;
    /* padding-left: 100px; */
    
}
.part1 button{
    border-radius: 5px;
    background-color: red;
    height: 40px;
    width:130px;
    color: white;
    font-weight: 3em;
}
.part1 button i{
    padding-left: 15px;
}

/*------------ Blogs and Transfer Style Start----------*/
.user{
    height: 300px;
    width: 300px;
    background-color: burlywood;
    margin-top: 40px;
    border-radius: 10px;
}
.sidebar{
    margin-left: 30px;
}
    

.sidebar h2{
    justify-content: center;
    display: flex;
    border-radius: 5px;
    padding: 15px;
    height: 30px;
    width: 200px;
    background-color: white;
}
.sidebar a { 
    text-decoration: none;
    color: black;
}
.player-detail{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #FFFF;
    height: 362px;
    width: 300px;
    padding: 10px;
    
}
.player-info button{
    width: 120px;
    height: 30px;
}
.player-info{
    padding: 10px;
    padding-top: 25px;
}
.respond{ 
    width: 143px;
    height: 26px;
    color: gray;
    display: flex;
    align-items: center;
}
.clock{
    column-gap: 30px;
}


.part2{
    display: flex;
    
}

.user{
     padding:20px;
   
}
.info-box{ 
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.middle{
    
    padding: 5px;
    display: flex;
    margin: 0 auto;
}
.view{
    visibility: hidden;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.view button { 
    background-color: rgb(0, 209, 28);
    width: 100px;
    height: 45px;
    font-size: 1.3em;
    border-radius: 5px;
    color: white;
}
/* -------Blogs and Transfer Style End------- */

/* ---------Footer Style --------*/
footer{
    font-family: 'Poppins', sans-serif;
    /* height: 300px; */
    color: white;
    /* width:100%; */
    background-color: black;
}
footer h2{
    display: flex;
    font-size: xx-large;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}
footer ul{
    padding-bottom: 50px;
    list-style: none;
    margin-top: 40px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
footer ul a{
    text-decoration: none;
    display: flex;
    color:whitesmoke;
}
.footer-icon{
    font-size: xx-large;
    row-gap: 50px;
    display: flex;
   justify-content: center;
   column-gap: 30px;
   
}
.footer-icon i{
    color:white;
}
hr{
    color: #FFFF;
    width: 80%;
}
/* --------footer style end ---------- */
/* ----------------------------------
    ------web site 2 design -------
    ------------------------------  */
.ger-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}
.match-time{
    padding-left: 50px;
    position: relative;
}
.match{
    height: 210px;
    width: 280px;
    background-color:lightgrey;
    padding: 10px;
    border-radius: 8px;
    
}
.match-detail{

    column-gap: 12px;
    row-gap: 5px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.tab{
    margin-top: 40px;
    display: flex;
}
/* -----------Media Quarey style ----------  */

@media only screen and (max-width: 1100px) { 

    .part1 h1{
        font-weight: 700;
        font-size: 30px;
    } 
    .part1 p{
        font-size: 10px;
        font-weight: 300;
        font-style: normal;
        }
        .middle{
            /* margin:  0 auto; */
            flex-direction: column;
        }
        .info-box{ 
            grid-template-columns: repeat(2,1fr);
            column-gap: 60px;
        }
        .view{
            visibility: visible;
            margin-left: 430px;
        }
    }



@media only screen and (max-width: 820px) { 


}
@media only screen and (max-width: 500px) { 
    .Banner{
        width: 300px;
        height: 700px;
        flex-direction: column;
    }
    .part1 p h1{
        font-size: 400;
      
    }
.part img{
    height: 120px;
    width: 100px ;
}
.info-box{ 
    grid-template-columns: repeat(1,1fr);
    column-gap: 60px;}
    .view{
    visibility: hidden;}
    footer ul{
    
        justify-content: center;
        flex-direction: column;
    }





}

        
    